.acoustic-memory-container {
  position: relative; /* A gomb pozícionálásához szükséges */
  width: 320px;
  border: 1px solid #c3c3c3;
  border-radius: 20px;
  padding: 10px 10px 30px 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: auto;
}
.container-top-bar {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff6b;
  border-radius: 10px;
  padding: 5px;
  align-items: center;
}
.exam-progress {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 20px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  padding: 1px 12px;
  border: 2px #ffcd57 solid;
}
.left-group {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.right-group {
  display: flex;
  justify-content: center;
}
.correctAnswer {
  display: inline-block;
  width: 80%;
  height: 30px;
  position: absolute;
  margin: 0px;
  margin-top: -58px;
  left: 10%;
  z-index: 0;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.correctAnswer.show {
  margin-top: -87px;
}
.settingsOpenButton {
  top: 10px;
  right: 10px;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.answerInput {
  display: inline-block;
  width: 90%;
  height: 50px;
  margin: 0px 15px 15px 15px;
  font-size: 1rem;
  line-height: 1.75;
  text-align: center;
  position: relative;
  background: white;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.015),
    0px 3px 10px 0px rgba(0, 30, 26, 0.04);
}
.task-digits {
  background-color: white;
  border-radius: 8px;
  margin-left: auto;
  margin-right: 5px;
  color: black;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  padding: 1px 12px;
  border: 2px #ffcd57 solid;
  cursor: pointer;
}
.task-direction {
  background-color: white;
  border-radius: 8px;
  margin-left: auto;
  margin-right: 5px;
  color: black;
  padding: 10px;
  font-size: 21px;
  font-weight: 900;
  padding: 1px 12px;
  border: 2px #ffcd57 solid;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.checkStartButton {
  border: none;
  font-size: 1.2rem;
  width: 300px;
  border-radius: 15px;
  color: #223968;
  background: rgb(205, 218, 50);
  margin-top: 20px;
  font-weight: 700 !important;
  text-transform: uppercase;
  padding: 15px 0px;
}
.examButton {
  border: none;
  font-size: 1.2rem;
  width: 300px;
  border-radius: 15px;
  color: #223968;
  background: rgb(205, 218, 50);
  margin-top: 20px;
  font-weight: 700 !important;
  text-transform: uppercase;
  padding: 15px 0px;
}

/* Alapértelmezett ikon stílus */
.icon-normal {
  transition: transform 0.3s ease;
}

/* Ha az érték true, tükröződik vízszintesen */
.icon-reversed {
  transform: scaleX(-1);
}
