/* TestPage.css */
.test-page {
  text-align: center;
  margin: 20px;
}
.ttcontiner {
  margin: auto;
  display: flex;
  justify-content: center;
}
.fetch-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.fetch-button:hover {
  background-color: #45a049;
}

.pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  font-family: monospace;
  font-size: 14px;
  margin-top: 20px;
}
