.comment-form-container {
  margin-bottom: 2rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.comment-form-textarea {
  width: 100%;
  padding: 1rem;
  border: 0;
  border-radius: 0.75rem;
  background-color: white;
  outline: none;
  transition: all 0.3s;
}

.comment-form-textarea:focus {
  box-shadow: 0 0 0 2px rgba(156, 163, 175, 0.5);
}

.comment-form-button-container {
  margin-top: 1rem;
  padding: 1rem;
  border-top: 1px solid #f3f4f6;
  display: flex;
  justify-content: flex-end;
}

.comment-form-button {
  padding: 0.625rem 1.5rem;
  border-radius: 0.75rem;
  color: #1f2937;
  background-color: #ffcd57;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.3s;
}

.comment-form-button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.flex.items-center.space-x-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
