:root {
  --bg-color: white;
  --text-color: black;
  --bg-sun: #ffcc55;
  --bg-moon: lightSlateGray;
  --black: black;
  --note-card-details: black;
  --action-conf-btn-icon: #ffcc55;
  --private-collection-btn-bg: white;
  --question-list-co-bg: #fff9ea;
  --question-list-co-text: #ffcc55;
  --counter-number: #555;
  --table-head-bg: #f7f8fd;
  --floating-icon-bg: #dee9f5;
  --top-bar-bg: rgba(255, 255, 255, 0.1);
  --top-bar-icons: black;
  --popup-header-icon-bg: black;
  --question-list-btn-bg: white;
  --question-list-btn-text: black;
  --answer-correct: #6eb462;
  --answer-wrong: #ff6b6b;
  --switch-btn: white;
  --switch-bg: #949aa1;
  --navbar-background: #412943;
  --navbar-box-shadow: 0px 0 0px #2b4f4e;
  --main-background-color: #e4e9f7;
  --background-color: white;
  --group-background: #ffffff73;
  --button-bg: white;
  --button-checked-bg: #ffcd57;
  --answer-button-bg: white;
  --answer-button-checked-bg: #b5c1ca;
  --select-bg: white;
  --select-border: rgb(153, 153, 153);
  --input-bg: white;
  --primary-text-color: black;
  --secondary-textcolor: black;
  --primary-color: #ffcd57;
  --action-button-color: white;
  --secondary-color: #ebf4ff;
  --highlight-color: #ffcc55; /*Primaryt használunk helyette */
  --accent-color: rgb(110, 180, 98);
  --overlay-color: #a6b5c8a8; /*eddig van kicserélve */
  --button-hover: #f5f5f5;
  --border-color: #d2d2d2;
  --input-border-color: #ebf4ff;
  --disabled-background: #dadada;
  --disabled-text-color: black;
  --popup-background: #ebf4ff;
  --modal-background: #a6b5c8a8;
  --floating-bar-background: #ebf4fe;
  --shadow-light: rgba(0, 66, 142, 0.04) 0px 1px 4px,
    rgba(0, 59, 126, 0.02) 0px 4px 16px;
  --shadow-dark: 0 4px 6px rgba(0, 0, 0, 0.1);

  transition: all 0.4s ease;
}
