.admin-panel {
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  overflow: hidden;
  box-sizing: border-box;
  flex-direction: column;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
}

.users-table th,
.users-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.users-table th {
  background-color: #f4f4f4;
}

.edit-button,
.save-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.edit-button {
  background-color: #007bff;
  color: white;
}

.save-button {
  background-color: #28a745;
  color: white;
}

.edit-button:hover {
  background-color: #0056b3;
}

.save-button:hover {
  background-color: #218838;
}
