.signUpMain {
  display: flex;
  width: 100%;
  justify-content: center;
}

.signUpContainer {
  align-items: normal;
  width: 486px;
  padding: 0px 55px;
  display: flex;
  flex-direction: column;
  display: flex;
  position: relative;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
}

.sign-up-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px; /* Magasság beállítása */
  width: 100%;
}

.back-icon {
  position: absolute;
  left: 0; /* Bal oldalhoz igazítás */
  cursor: pointer;
  width: 24px;
  opacity: 0.7;
}

.sign-up-title {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 1;
}

.signUpContainer .separator {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0px;
}
.signUpContainer p {
  font-weight: 500;
  font-size: 10px;
  color: black;
  line-height: 1;
  text-align: center;
  margin: 10px 5px;
}
.signUpContainer .separator p {
  font-weight: 500;
  font-size: 10px;
  color: black;
  line-height: 1;
  white-space: nowrap;
  margin: 0px 5px;
}
.signUpContainer .separator span {
  width: 100%;
  height: 1px;
  background: #cbcbcb;
}

.SignUpInputBox {
  position: relative;
  width: 100%;
}

.SignUpInputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cdda32;
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 1rem;
  transition: 0.2s;
  background-color: #ffffff !important !important;
}

.SignUpInputBox span {
  position: absolute;
  left: 0;
  padding: 13px;
  pointer-events: none;
  font-size: var(--font-size-small);
  color: #00000091;
  transition: 0.2s;
}

.SignUpInputBox input:valid ~ span,
.SignUpInputBox input:focus ~ span {
  color: black;
  transform: translateX(10px) translateY(-6px);
  font-size: 0.65rem;
  padding: 0 10px;
  background: #ebf4ff;
  border: 1px solid #cdda32;
  border-radius: 15px;
  letter-spacing: 0.2em;
}

.SignUpInputBox input:valid,
.SignUpInputBox input:focus {
  border: 1px solid #cdda32;
}

.invalid {
  border: 1px solid black !important;
  background-color: #e83b51;
}

@media (min-width: 962px) and (max-width: 1279px) and (orientation: landscape) {
  .signUpContainer {
    width: 358px;
    padding: 60px 24px 24px 24px;
  }
}

@media (max-width: 962px) {
  .signUpContainer {
    width: 100%;
    margin-top: auto;
    box-sizing: border-box;
    padding: 24px;
    overflow-y: auto;
  }
}
